@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --blue-Color:#0A2640;
    --green-Color:#65E4A3;
}
#firstSection{
    background-color: white;
    min-height:100vh;
}

header{
    position: sticky;
    top: 0%;
    z-index: 1;
}
/* main container's styles */
.mainContainer{
    /* background-color: rgb(143, 141, 137); */
    min-height: 100vh;
}
/* nav bar styles */
.navbrand{
    display: flex;
    align-items:baseline;
    gap: 1rem;
}
.navbrand h3{
    font-weight: 500;
}
nav{
    padding: 1rem 5rem 1rem 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    box-shadow: 0.4rem 0.4rem 0.4rem rgb(200, 198, 198);
}
.navLinks{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.NavLinks{
    justify-content: end;
    width: 60%;
    display: flex;
    align-items: center;
}
.menu{
    display: none;
}
.navLinks a{
    text-decoration: none;
    color: black;
}
.navLinks li{
    margin-left: 0.5rem;
    list-style-type: none;
}
.navLinks li:last-of-type{
    padding: 0.5rem 1rem;
    border-radius: 24px;
    background-color: var(--green-Color);
    border: 2px solid var(--green-Color);
}
.navLinks li:last-of-type:hover{
    background: transparent;
}
.navLinks li:last-of-type>a{
    color: black;
}
/* first section content */
.intoContent{
    padding: 2rem 5rem 1rem 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.titleContent{
    width: 90%;
}
.titleContent>h1{
    font-size:2rem;
    margin-bottom: 1rem;
    font-weight: 400;
}
a{
    text-decoration: none;
    color: black;
}
.Links{
    display: flex;
}
.Links button{
    margin: 1rem;
    border-radius: 24px;
    border: none;
    padding: 0.5rem 2rem;
}
.Links button:first-of-type a{
    color: black;
    /* font-weight: 700; */
}
.Links button:first-of-type{
    background: var(--green-Color);
    border: 2px solid var(--green-Color);
}
.Links button:first-of-type:hover{
    background: transparent;
}
.Links button:last-of-type{
    background: transparent;
    border: 2px solid var(--green-Color);
}
.Links button:last-of-type a{
    color: black;
}
.Links button:last-of-type:hover{
    background: var(--green-Color);
}

/* other section */
.publicationStatus{
    padding: 2rem 5rem 1rem 5rem;
}
.headers>h3{
    opacity: 0.5;
}
.headers{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.headers>h1{
    width: 60%;
    text-align: center;
    font-weight: 400;
}
/* cardsContainer */
.cardsContainer{
    padding:1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.card{
    transition: all 1s 0.5s;
    border-radius: 18px 18px 8px 8px;
    border: 2px solid var(--green-Color);
    padding: 0.8rem;
    background:rgb(255, 255, 255);
    width: 15rem;
    display:flex;
    flex-direction: column;
    box-shadow: 0.4rem 0.4rem 0.4rem 0.4rem rgb(235, 229, 229);
}
.card:hover{
    transform: scale(1.1);
}
.card>img{
    width: 100%;    
}
.desc{
    padding:10px;
}
.cardTitle{
    font-size: 16px;
    color: #6c6a6a;
}
.cardDescription{
    font-size: 12px;
}
.detailsLiNK a{
    border-bottom: 2px solid var(--blue-Color);
    color: var(--blue-Color);
    font-size: 12px;
}
/* footer */
footer{
    padding: 1rem 5rem 1rem 5rem;
    border: 1px solid var(--green-Color);
    background: linear-gradient(to bottom,white,#65E4A3);
}
.classFooter>h2{
    font-size: 16px;
    justify-self: center ;
}
.classFooter{
    display: flex;
    align-items: center;
    gap: 1rem;  
}
@media screen and (max-width:600px) {
    .navLinks{
        display: none;
    }
    .menu{
        display: block;
        width: 1.5rem;
    }
    nav{
        padding: 1rem 3rem 1rem 3rem;
    }
    .titleContent>h1{
        font-size: 2rem;
    }
    .intoContent{
        padding: 1rem 3rem 1rem 3rem;
    }
    .headers>h1{
        width: 100%;
    }
    .publicationStatus{
        padding: 2rem 2rem 1rem 2rem;
    }
    .card{
       width: 25rem; 
    }

}
@media screen and (max-width:400px) {
    .Links{
        display: block;
        text-align: center;
    }
    .intoContent{
        padding: 1rem 1rem 1rem 1rem;
    }
    .publicationStatus{
        padding: 2rem 1rem 1rem 1rem;
    }
}
@media screen and (max-width:320px) {
    
}
.publication{
    margin-top: 1rem;
    border: 2px solid #65E4A3;
    padding: 0.3rem 1rem;
    border-radius: 8px;
}
.publication:hover{
    background: var(--green-Color);
}
.publication>a{
    border: none;
}
.subButton{
    margin-top: 0.3rem;
    padding: 0.1rem 0.5rem;
    border: none;
    background: var(--green-Color);
    border-radius: 8px;
}